/***
   Rui Santos
   Complete project details at https://RandomNerdTutorials.com
***/

html {
  font-family: Arial;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  max-width: 400px;
}
h1 {
  color: #0f3376;
  padding: 2vh;
}
p {
  font-size: 1.5rem;
}
.light {
  padding: 50px 50px;
  border-radius: 100px;
  background-color: aqua;
  margin-bottom: 5px;
}
.red {
  background-color: rgba(255, 0, 0, 1);
}
.yellow {
  background-color: rgba(240, 255, 0, 1);
}
.green {
  background-color: rgba(0, 255, 0, 1);
}
.stop {
  padding: 10px 30px;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 10px;
  color: red;
}
.start {
  padding: 10px 30px;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 10px;
  color: green;
}

.heading {
  margin-bottom: 30px;
}
